@media (min-width: 576px) and (max-width: 767px) {
  /************************************************************
  
  						GENERAL
  
  ************************************************************/
  .container {
    max-width: 576px; }

  /************************************************************
  
  						 HEADER
  
  ************************************************************/
  .full1 {
    height: 120px; }
    .full1 .telefon-mail {
      text-align: center; }
    .full1 .social {
      text-align: center !important; }

  /************************************************************
  
  				BACKGROUND I NAVIGACIJA
  
  ************************************************************/
  .form-group1 select {
    width: 152px; }
  .form-group1 button {
    width: 50px; }

  #dugme span {
    display: none; }

  #dugme:after {
    font-family: FontAwesome;
    content: "\f002"; }

  .bg-tour {
    text-align: center; }
    .bg-tour img {
      margin-top: 10px; }

  /************************************************************
  
  					    POPULAR
  
  ************************************************************/
  [class*="one"] {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0 !important; }

  [class*="two"] {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0 !important; }

  [class*="three"] {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0 !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  /************************************************************
  
  						GENERAL
  
  ************************************************************/
  .container {
    max-width: 720px; }

  /************************************************************
  
  			      BACKGROUND I NAVIGACIJA
  
  ************************************************************/
  .form-group1 select {
    width: 176px; }
  .form-group1 button {
    width: 120px; }

  /************************************************************
  
  					    POPULAR
  
  ************************************************************/
  .popular-topics-text a {
    text-decoration: none; }
  .popular-topics-text .img-wrapper {
    position: relative; }
    .popular-topics-text .img-wrapper .orange-box {
      position: absolute;
      top: 0;
      right: 0px;
      width: 110px;
      height: 30px;
      background-color: #ff9600;
      display: table; }
      .popular-topics-text .img-wrapper .orange-box .orange-box-text {
        display: table-cell;
        vertical-align: middle; }
        .popular-topics-text .img-wrapper .orange-box .orange-box-text a {
          color: #fff;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          text-transform: capitalize;
          margin-top: 5px; }
  .popular-topics-text h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #4b4b4b;
    text-align: left;
    margin-top: 20px;
    padding-left: 3px; }
  .popular-topics-text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    text-align: left;
    padding-left: 3px; }

  .popular-topics-text2 a {
    text-decoration: none; }
  .popular-topics-text2 .img-wrapper {
    position: relative; }
    .popular-topics-text2 .img-wrapper .orange-box {
      position: absolute;
      top: 0;
      right: 0px;
      width: 110px;
      height: 30px;
      background-color: #ff9600;
      display: table; }
      .popular-topics-text2 .img-wrapper .orange-box .orange-box-text {
        display: table-cell;
        vertical-align: middle; }
        .popular-topics-text2 .img-wrapper .orange-box .orange-box-text a {
          color: #fff;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          text-transform: capitalize;
          margin-top: 5px; }
  .popular-topics-text2 h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #4b4b4b;
    text-align: left;
    margin-top: 20px;
    padding-left: 3; }
  .popular-topics-text2 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    text-align: left;
    padding-left: 3px; }

  .popular-topics-text3 a {
    text-decoration: none; }
  .popular-topics-text3 .img-wrapper {
    position: relative; }
    .popular-topics-text3 .img-wrapper .orange-box {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 110px;
      height: 30px;
      background-color: #ff9600;
      display: table; }
      .popular-topics-text3 .img-wrapper .orange-box .orange-box-text {
        display: table-cell;
        vertical-align: middle; }
        .popular-topics-text3 .img-wrapper .orange-box .orange-box-text a {
          color: #fff;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          text-transform: capitalize;
          margin-top: 5px; }
  .popular-topics-text3 h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #4b4b4b;
    text-align: left;
    margin-top: 20px;
    padding-left: 3; }
  .popular-topics-text3 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    text-align: left;
    padding-left: 3px; } }
@media (min-width: 992px) and (max-width: 1215px) {
  /************************************************************
  
  						GENERAL
  
  ************************************************************/
  #home {
    margin-left: 9px !important; }

  #trigger {
    display: none; }

  .container {
    max-width: 940px; }

  /************************************************************
  
  					    POPULAR
  
  ************************************************************/
  .popular-topics-text a {
    text-decoration: none; }
  .popular-topics-text .img-wrapper {
    position: relative; }
    .popular-topics-text .img-wrapper .orange-box {
      position: absolute;
      top: 0;
      right: 0px;
      width: 135px;
      height: 42px;
      background-color: #ff9600;
      display: table; }
      .popular-topics-text .img-wrapper .orange-box .orange-box-text {
        display: table-cell;
        vertical-align: middle; }
        .popular-topics-text .img-wrapper .orange-box .orange-box-text a {
          color: #fff;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          text-transform: capitalize;
          margin-top: 5px; }
  .popular-topics-text h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #4b4b4b;
    text-align: left;
    margin-top: 20px;
    padding-left: 3px; }
  .popular-topics-text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    text-align: left;
    padding-left: 3px; }

  .popular-topics-text2 a {
    text-decoration: none; }
  .popular-topics-text2 .img-wrapper {
    position: relative; }
    .popular-topics-text2 .img-wrapper .orange-box {
      position: absolute;
      top: 0;
      right: 1px;
      width: 135px;
      height: 42px;
      background-color: #ff9600;
      display: table; }
      .popular-topics-text2 .img-wrapper .orange-box .orange-box-text {
        display: table-cell;
        vertical-align: middle; }
        .popular-topics-text2 .img-wrapper .orange-box .orange-box-text a {
          color: #fff;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          text-transform: capitalize;
          margin-top: 5px; }
  .popular-topics-text2 h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #4b4b4b;
    text-align: left;
    margin-top: 20px;
    padding-left: 3; }
  .popular-topics-text2 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    text-align: left;
    padding-left: 3px; }

  .popular-topics-text3 a {
    text-decoration: none; }
  .popular-topics-text3 .img-wrapper {
    position: relative; }
    .popular-topics-text3 .img-wrapper .orange-box {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 135px;
      height: 42px;
      background-color: #ff9600;
      display: table; }
      .popular-topics-text3 .img-wrapper .orange-box .orange-box-text {
        display: table-cell;
        vertical-align: middle; }
        .popular-topics-text3 .img-wrapper .orange-box .orange-box-text a {
          color: #fff;
          font-family: 'Poppins', sans-serif;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          text-transform: capitalize;
          margin-top: 5px; }
  .popular-topics-text3 h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #4b4b4b;
    text-align: left;
    margin-top: 20px;
    padding-left: 3; }
  .popular-topics-text3 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    text-align: left;
    padding-left: 3px; } }
@media (min-width: 1216px) {
  #trigger {
    display: none; } }

/*# sourceMappingURL=responsive.css.map */
