

/************************************************************

					     PROMENLJIVE

************************************************************/
$black: #000;
$white: #fff;
$orange: #ff9600; 
$gray: #4b4b4b;
$lightGray: #f2f2f2;
$semiGray: #969696;
$darkGray: #343434;
$emailGray: #9f9f9f;



/************************************************************

						  GENERAL

************************************************************/

::selection {
background: $orange !important;
color: #fff !important;
}
::-moz-selection {
background: #CCB08E !important;
color: #fff !important;
}
body, html{
	height: 100%;
	// font-family: 'Work Sans', sans-serif;
	// font-family: 'Poppins', sans-serif;
	padding: 0;
}
.img-responsive{
	width: 100%;
	height: 100%;
}
.scroller{
	overflow-x: hidden;
	
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.container{
	width: 1200px;
	padding-left: 0;
	padding-right: 0;
}
.row{
	margin-right: 0;
	margin-left: 0;
}

/************************************************************

						  HEADER

************************************************************/
[class*="telefon-mail"]{
	padding-left: 0;
	padding-right: 0;
}
[class*="social"]{
	padding-right: 0;
	padding-left: 0;
}
.full1{
	width:100%;
	height: 60px;
	background-color: $white;
	.container{
		background-color: $white;
		.row{
			.telefon-mail{
				ul{
					list-style: none;
					padding-left: 0;
					margin-top: 18px;
					display: block;
					li{
						display: inline-block;
						a{
							text-decoration: none;
							font-family: 'Work Sans', sans-serif;
							font-size: 14px;
							font-weight: 400;
							color: $orange;
							transition: all .5s ease;
							i{
								margin-right: 10px;
							}
							&:hover{
								color: $black;
							}
						}
					}
				}
			}
		}
	}
}
.social{
				ul{
					list-style: none;
					padding-left: 0;
					margin-top: 18px;
					li{
						display: inline-block;
						a{
							text-decoration: none;
							font-family: 'Work Sans', sans-serif;
							font-size: 14px;
							font-weight: 400;
							color: $orange;
							transition: all .5s ease;
							i{
								margin-right: 10px;
							}
							&:hover{
								color: $black;
							}
						}
					}
				}
			}


/************************************************************

				BACKGROUND I NAVIGACIJA

************************************************************/
.home-cover{
	position: relative;

}
.nav-sa-slikom{
	position: absolute;
	top: -598px;
	width: 100%;
}
#eng{
	float: right;
}
#srb{
	float: right;
}
[class*="bg-list"]{
	padding-left: 0;
	padding-right: 0;
}
[class*="bg-tour"]{
	padding-left: 0;
	padding-right: 0;
}
.bg-list{
	ul{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		margin-top: 30px;
		li{
			display: inline-block;
			a{
				color: $white;
				text-transform: uppercase;
				text-decoration: none;
				font-family: "Poppins" , sans-serif;
				font-size: 15px;
				font-weight: 500;
				transition: all .5s ease;
				span{
					font-weight: 400;
					font-size: 12px;
					text-transform: capitalize;
					vertical-align: middle;
					margin-right: 3px;
				}
				&:hover{
					color: $orange;
				}
			}
		}
	}
}

.forma{
	position: absolute;
	width: 100%;
	top: -405px;
}

.naslov{
	h1{
		color: $white;
		font-family: 'Poppins', sans-serif;
		font-size: 75px;
		font-weight: 700;
		text-transform: capitalize;
		margin-bottom: 20px;
		margin-top: 0;
	}
	h3{
		color: $orange;
		font-family: 'Poppins', sans-serif;
		font-size: 30px;
		font-weight: 400;
		text-transform: capitalize;
		margin-bottom: 40px;
	}
}
.form-group1{
	select{
		// border-color:transparent;
		width: 200px;
		height: 45px;
		display: inline-block;
		margin-right: 20px;
		text-transform: capitalize;
		// border-radius: 0;
		font-family: 'Work Sans', sans-serif;
		font-size: 14px;
		font-weight: 500;
		outline-color: transparent;
		// border: .5px solid $black;
		&:focus{
			border-color: transparent;
		}
		option{
			// background-color: green;
			option:hover{
				background-color: red;
			}
		}
	}
	button{
		width: 140px;
		height: 38px;
		font-size: 18px;
		font-family: 'Work Sans', sans-serif;
		// border-radius: 0;
		background-color: $orange;
		border: none;
		margin-bottom: 3px;
		text-transform: capitalize;
		transition: all .5s ease;
		border: 1px solid $orange;
		padding-top: 0px;
		padding-bottom: 0px;

		&:hover{
			background-color: $white;
			// border: 1px solid $orange;
			color: $gray;
		}
	}
}



/************************************************************

						  POPULAR

************************************************************/
.naslov2{
	color: $black;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 30px;
}
[class*="one"]{
	padding-left: 0;
}
[class*="two"]{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
[class*="three"]{
	padding-right: 0;
}
.popular-topics-text-box{
	height: auto;
}
.popular-topics-text{
	
	a{
		text-decoration: none;
		img{

		}
	}
	.img-wrapper{
		position: relative;
	.orange-box{
		position: absolute;
		top: 0;
		right: 3px;
		width: 135px;
		height: 42px;
		background-color: $orange;
		display: table;
		.orange-box-text{
			display: table-cell;
			vertical-align: middle;
		a{
			color: $white;
			font-family: 'Poppins', sans-serif;
			text-decoration: none;
			font-size: 18px;
			font-weight: 500;
			text-transform: capitalize;
			margin-top:5px;
		}
		}
	}
}
h5{
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: $gray;
	text-align: left;
	margin-top: 20px;
	padding-left: 3px;
}
p{
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: $gray;
	text-align: left;
	padding-left: 3px;	
}
}


/************************************************************

				 	    DRIVEME TOUR

************************************************************/
.home-cover2{
	position: relative;

}
.drive-me{
	position: absolute;
	top: -440px;
}
[class*="blank"]{
	padding-left: 0;
	padding-right: 7.5px;
}
[class*="drive-me-tour"]{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
[class*="drive-me-car"]{
	padding-left: 7.5px;
}

.icon-wrapper{

}
.drive-me-tour{

	.naslov3{
		h2{
			font-family: 'Poppins', sans-serif;
			font-size: 48px;
			font-weight: 500;
			text-transform: capitalize;
			margin-bottom: 40px;
		}
	}
	.icon{
		// display: table-cell;
		margin-right: 15px;
		height: 100%;
		// vertical-align: center;
		}
		img{
			
	}
	.icon-text{
		// width: 90%;
		display: inline-block;
		p{
			font-family: 'Work Sans', sans-serif;
			font-weight: 400;
			font-size: 14px;
			margin-bottom: 0;
		}
	}
}
// .car-wrapper{
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
.icon-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}
.drive-me-car{
	display: flex;
	justify-content: center;
	align-items: center;
	.img-wrapper2{
		img{
			margin-bottom: 30px;
		}
	}
	button{
			width: 140px;
			height: 45px;
			background-color: $orange;
			text-transform: capitalize;
			font-family: 'Work Sans', sans-serif;
			font-size: 18px;
			font-weight: 400;
			transition: all .5s ease;
			border: 1px solid $orange;
			&:hover{
				color: $gray;
				background-color: $white;
			}
		}
}

/************************************************************

			     BX SLIDER I LATEST POSTS

************************************************************/
[class*="slide"]{
	padding-left: 0;
	padding-right: 0;
}
.bx-wrapper .bx-controls-direction a{
	top: -26px;
}
.bx-wrapper .bx-prev{
	left: 705px;
}
.bx-wrapper .bx-next{
	right: 0px;
}
.bx-wrapper{
	border: none;
	box-shadow: none;
}

.slide{
	.pt{
		position: absolute;
		top: -40px;
		h4{
			font-family:'Poppins', sans-serif;
			font-size: 24px;
			font-weight: 500;
			color: $darkGray;
		}
	}
	ul{
		list-style: none;
		padding-left: 0;
		li{
			padding-left: 0;
		.slider-wrapper{
				background-color: $lightGray;
				width: 380px;
				height: auto;
				display: inline-block;
				float: left;
				margin-bottom: 40px;
				img{

				}
				.text-box2{
					width: 360px;
					min-height: 400px;
					margin-left: 20px;
					margin-top: 20px;
				h5{
					font-family: 'Poppins', sans-serif;
					font-size: 22px;
					font-weight: 500;
					color: $gray;
					margin-bottom: 20px;	
				}
				h6{
					font-family: 'Work Sans', sans-serif;
					font-size: 18px;
					font-weight: 400;
					color: $orange;
					margin-bottom: 20px;
					transition: all .5s ease;
					&:hover{
						color: $gray;
					}
				}
				p{
					font-family: 'Work Sans', sans-serif;
					font-size: 16px;
					font-weight: 400;
					color: $semiGray;
				}
				}
			}
		}
	}
}
[class*="latest-posts"]{
	padding-right: 0;
}
.latest-posts{
	position: relative;
	.lp{
		position: absolute;
		top: -40px;
		h6{
			font-family: 'Poppins', sans-serif;
			font-size: 20px;
			font-weight: 500;
			color: $gray;
		}
	}
}
.post{
	.post-slika{
		margin-right: 19px;
		display: inline-block;
		float: left;
		img{

		}
	}
	.post-tekst{
		display: inline-block;
		float: left;
		h5{
			margin-bottom: 3px;
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			font-weight: 300;
			color: $darkGray;
		}
		button{
			font-family: 'Poppins', sans-serif;
			width: 45px;
			height: 31px;
			font-size: 12px;
			font-weight: 300;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $orange;
			border: 1px solid $orange;
			transition: all .5s ease;
			&:hover{
				background-color: $white;
				color: $gray;
			}
			&:active{
			  outline: 0;
			}
		}
	}
}

/************************************************************

			    		FOOTER

************************************************************/
.full2{
	width: 100%;
	height: auto;
	background-color: $darkGray;
	.container{
		background-color: $darkGray;
		.row{
			.newsletter{
				.newsletter-wrapper{
					margin-top: 40px;
				.logo{
					
					margin-bottom: 20px;
					img{

					}
				}
				.logo-text{
					margin-bottom: 50px;
					width: 100%;
					p{
						font-family: 'Work Sans', sans-serif;
						font-size: 14px;
						font-weight: 400;
						color: $white;
						margin-bottom: 0;
					}
				}
				.newsletter-prijava{
					margin-bottom: 20px;
					h6{
						font-family: 'Poppins', sans-serif;
						font-size: 16px;
						font-weight: 500;
						text-transform: uppercase;
						color: $white;
						margin-bottom: 20px;	
					}
					p{
						font-family: 'Work Sans', sans-serif;
						font-size: 14px;
						font-weight: 400;
						color: $white;
						margin-bottom: 0;
					}
				}
				.newsletter-email{
					position: relative;
					.form-control{
						font-family: 'Poppins', sans-serif;
						font-size: 16px;
						font-weight: 500;
						color: $emailGray;
						// text-transform: capitalize;
						width: 220px;
						height: 45px;
						background-color: $darkGray;
						border: 1px solid $white;
						margin-bottom: 30px;
						float: left;
						display: inline-block;
						margin-left: 13%;
					}
					button{
						width: 105px;
						height: 45px;
						margin-left: -10px;
						// position: absolute;
						// top: 0;
						// right: 49px;
						float: left;
						display: inline-block;
						text-transform: uppercase;
						font-family: 'Work Sans', sans-serif;
						font-size: 14px;
						font-weight: 400;
						background-color: $orange;
						border: 1px solid $orange;
						transition: all .5s ease;
						&:hover{
							border: 1px solid $gray;
							background-color: $white;
							color: $gray;
						}
					}
				}
			}
		}
			.contact{
				.contact-wrapper{
					margin-top: 40px;
					margin-left: 50px;
					.contact-heading{
						h6{
							font-family: 'Poppins', sans-serif;
							font-size: 16px;
							font-weight: 500;
							color: $white;
							text-transform: uppercase;
							margin-bottom: 35px;
						}
					}
					.contact-details{
						ul{
							list-style: none;
							padding-left: 0;
							li{
								a{
									text-decoration: none;
									i{
										display: inline-block;
										font-size: 18px;
										font-weight: 500;
										margin-right: 15px;
										color: $orange;
										transition: all .5s ease;
										&:hover{
											color: $white;
										}
									}
									span{
										display: inline-block;
										p{
											font-family: 'Work Sans', sans-serif;
											font-size: 14px;
											font-weight: 400;
											margin-bottom: 15px;
											color: $white;
											transition: all .5s ease;
											&:hover{
												color: $orange;
											}
										}
									}
								}
							}
						}
					}
				}
				.contact-social{
					// margin-top: 20px;
					ul{
						list-style: none;
						padding-left: 0;
						li{
							display: inline-block;
							a{
								text-decoration: none;
								i{
									font-size: 22px;
									font-weight: 500;
									margin-right: 20px;
									color: $white;
									transition: all .5s ease;
									&:hover{
										color: $orange;
									}
								}
							}
						}
					}
				}
			}
			.instagram{
				.instagram-wrapper{
					margin-top: 40px;
					margin-left: 60px;
					.instagram-heading{
						h6{
							font-family: 'Poppins', sans-serif;
							font-size: 16px;
							font-weight: 500;
							color: $white;
							text-transform: uppercase;
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}
}


